server-product/docker/build/
server-product/docker/onedev-*/
**/target/
**/.classpath
**/.settings
**/.project
**/.vscode
**/.idea
release.properties
pom.xml.releaseBackup

.loadpath
*~
*.lock
*.swp
*.out
*.tmp
*.bak
*~.nib
*.DS_Store

/pom.xml
.metadata
.onedev-buildspec.yml
.editorconfig